{% extends "blog/base.html" %}

{% block title %}Новый пароль{% endblock %}

{% block content %}

    {% if validlink %}

        <h1>Введите новый пароль</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Подтвердить">
        </form>

    {% else %}

        <p>Ссылка для сброса пароля недействительна, 
            возможно, она уже была использована. 
            Пожалуйста, запросите смену пароля заново</p>

    {% endif %}
{% endblock %}