body {
    margin: 0;
    padding: 0;
    font-family: helvetica, sans-serif;
}

a {
    color: #00abff;
    text-decoration: none;
}

h1 {
    font-weight: normal;
    padding: 0 0 10px 0;
}

h2 {
    font-weight: normal;
    margin: 20px 0 0;
}
    


#content {
    float: left;
    width: 60%;
    padding: 0 0 0 30px;
}

#sidebar {
    float: right;
    width: 30%;
    padding: 10px;
    background: #efefef;
    height: 100%;
}

p.date {
    color: #ccc;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic;
}

/* pagination */
.pagination {
    margin: 40px 0;
    font-weight: bold;
}

/* forms */


input[type=submit] {
    font-weight: bold;
    background: #00abff;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
}
.btn-bd-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
    --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
    --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
  }
.errorlist {
    color: #cc0033;
    float: left;
    clear: both;
    padding-left: 10px;
}

/* comments */
.comment {
    padding: 10px;
}

.comment:nth-child(even) {
    background: #efefef;
}

.comment .info {
    font-weight: bold;
    font-size: 12px;
    color: #666;
}

.hr-new {
  border: 10px solid rgb(31, 73, 181);
  border-radius: 5px;
}

.div-1{
    border-width:2;
    border-color: rgb(94, 97, 99);
    border-style: groove;
    }

/* Dropdown Button */
.dropbtn {
    font-weight: bold;
    background: #333434;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #bdd80c;}